*{
    margin:0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
body{
    background-color: rgb(203, 203, 203);
}
.Calculator-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.Calculator{
    background-color:rgba(27,26,32,255);
    color: rgb(235, 235, 235);
    border-radius: 10px;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
}
table{
    width: 300px;
    height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.input_container{
display: flex;
flex-direction: row;
justify-content: end;
}
input{
    margin-right:18px;
    width: 250px;
    height:40px;
    background-color:transparent;
    border: none;
    text-align: end;
    color: aliceblue;
    font-size: 18px;
}
button{
    width:50px;
    height:50px;
    border-radius: 17px;
    border: none;
    background-color:rgba(40,40,50,255); 
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(96, 75, 75, 0.24) 0px 3px 8px;

}
.z_button{
    padding-left: 70px;
    padding-right: 70px;
}
.result p{
    margin-right:18px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: white;
    font-size: 25px;
}